html,
body {
  font-size: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@-webkit-keyframes showup {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showup {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.active {
  -webkit-animation: 1s var(--delay) showup forwards;
          animation: 1s var(--delay) showup forwards;
}

::-webkit-scrollbar {
  background-color: rgb(237, 220, 220);
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(rgb(0, 2, 53), rgb(58, 139, 190));
  border: 2px solid rgb(237, 220, 220);
  border-radius: 20px;
}

body {
  background-color: rgb(0, 2, 53);
  margin-inline: 15%;
  margin-top: 3rem;
}
body a {
  text-decoration: none;
  color: white;
}

.main nav {
  display: flex;
  justify-content: space-between;
}
.main nav .logo {
  color: white;
  font-size: 3rem;
  position: relative;
}
.main nav .logo::before {
  content: "";
  box-shadow: 0 0 12rem 10rem rgb(58, 139, 190);
  position: absolute;
  z-index: -1;
  right: 45%;
}
.main nav ul {
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
  list-style: none;
}
.main nav ul li {
  margin: 1.2rem;
  padding-inline: 0.5rem;
  font-size: 1.4rem;
  transition: 1s transform;
}
.main nav ul li .active {
  color: rgb(109, 99, 255);
}
.main nav ul li a {
  transition: 0.5s;
}
.main nav ul li:hover a {
  color: rgb(109, 99, 255);
}
.main nav #menu {
  display: none;
}
.main .light {
  box-shadow: 0 0 19rem 15rem rgb(58, 139, 190);
  right: 0;
  position: absolute;
  top: 45vh;
}
.main .hero {
  margin-block: 2rem;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.main .hero .content h2 {
  font-size: 3.2rem;
  color: white;
  line-height: 3.5rem;
  opacity: 0;
  -webkit-animation: 1s showup forwards;
          animation: 1s showup forwards;
}
.main .hero .content h2 span {
  color: rgb(109, 99, 255);
}
.main .hero .content p {
  margin-block: 1.5rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: rgba(255, 255, 255, 0.746);
  -webkit-animation: 1s 0.5s showup forwards;
          animation: 1s 0.5s showup forwards;
  opacity: 0;
}
.main .hero .hero-img {
  height: 80%;
  position: relative;
  -webkit-animation: 1s 1.5s showup forwards;
          animation: 1s 1.5s showup forwards;
  opacity: 0;
}
.main .hero .hero-img img {
  height: 100%;
  width: 100%;
}
.main .hero .buttons button {
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-inline: 0.8rem;
  border-radius: 1.5rem;
  margin-right: 1.4rem;
  cursor: pointer;
  margin-top: 1.2rem;
}
.main .hero .buttons a {
  color: white;
}
.main .hero .buttons button:first-child {
  font-weight: 500;
  border: 1px solid rgb(109, 99, 255);
  -webkit-animation: 1s 2s showup forwards;
          animation: 1s 2s showup forwards;
  opacity: 0;
  position: relative;
  background: transparent;
  overflow: hidden;
}
.main .hero .buttons button:first-child::before {
  position: absolute;
  background: rgb(109, 99, 255);
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  left: 0%;
  top: 0;
  transition: 0.8s all;
  z-index: -1;
}
.main .hero .buttons button:first-child:hover::before {
  left: -100%;
}
.main .hero .buttons button:last-child {
  background: transparent;
  border: 1px solid rgb(109, 99, 255);
  position: relative;
  -webkit-animation: 1s 2.5s showup forwards;
          animation: 1s 2.5s showup forwards;
  opacity: 0;
  overflow: hidden;
}
.main .hero .buttons button:last-child::before {
  position: absolute;
  background: rgb(109, 99, 255);
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  left: -100%;
  top: 0;
  transition: 0.8s all;
  z-index: -1;
}
.main .hero .buttons button:last-child:hover::before {
  left: 0;
}

.served h2 {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  -webkit-animation: 1s 3s showup forwards;
          animation: 1s 3s showup forwards;
  opacity: 0;
}
.served ul {
  -webkit-animation: 1s 3.5s showup forwards;
          animation: 1s 3.5s showup forwards;
  opacity: 0;
  background-color: rgb(109, 99, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-inline: 12rem;
  list-style-type: none;
}
.served ul li {
  margin-block: 0.5rem;
}
.served ul li img {
  height: 3.7rem;
  width: 3.7rem;
  cursor: pointer;
  transition: 0.2s all;
}
.served ul li img:hover {
  scale: 1.1;
}

.about {
  margin-block: 4rem;
  color: white;
}
.about .title {
  text-align: center;
  font-size: 2.3rem;
}
.about .container1,
.about .container2 {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 5rem;
}
.about .container1 .theme-img,
.about .container2 .theme-img {
  opacity: 0;
}
.about .container1 .theme-img img,
.about .container2 .theme-img img {
  height: 100%;
  width: 100%;
}
.about .container1 .theme-content,
.about .container2 .theme-content {
  transform: translate(0, -2rem);
  padding-top: 1rem;
  -webkit-margin-before: auto;
          margin-block-start: auto;
  opacity: 0;
  transform: translateY(-1.7rem);
}
.about .container1 .theme-content h2,
.about .container2 .theme-content h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}
.about .container1 .theme-content p,
.about .container2 .theme-content p {
  font-size: 2rem;
  margin-block: 1.5rem;
  color: rgba(255, 255, 255, 0.746);
}
.about .container1 .theme-content button,
.about .container2 .theme-content button {
  font-size: 1.2rem;
  padding: 0.5rem;
  padding-inline: 1.2rem;
  border-radius: 1.5rem;
  margin-right: 1.4rem;
  cursor: pointer;
  margin-top: 1.2rem;
  background-color: transparent;
  border: 1px solid rgb(109, 99, 255);
  color: white;
  font-weight: bold;
  padding-block: 0.7rem;
  position: relative;
  overflow: hidden;
}
.about .container1 .theme-content button::before,
.about .container2 .theme-content button::before {
  position: absolute;
  background: rgb(109, 99, 255);
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  left: -100%;
  top: 0;
  transition: 1s all;
  z-index: -1;
}
.about .container1 .theme-content button:hover::before,
.about .container2 .theme-content button:hover::before {
  left: 0;
}

.clients {
  margin-block: 2rem;
  cursor: pointer;
  color: white;
}
.clients .title {
  font-size: 2.3rem;
  text-align: center;
}
.clients .comments {
  padding-inline: 3.5rem;
  margin-top: 8rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
}
.clients .comments .card {
  width: 25%;
  padding-inline: 0.2rem;
  height: 25rem;
  background-image: linear-gradient(rgb(109, 99, 255), transparent);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  opacity: 0;
}
.clients .comments .card img {
  height: 10rem;
  width: 10rem;
  margin-inline: 3rem;
  translate: 0 -40%;
  border-radius: 50%;
  border: 2px solid beige;
  box-shadow: 0 0 1rem 0.08rem wheat;
}
.clients .comments .card .name {
  text-align: center;
  translate: 0 -3.5rem;
  font-size: 1.6rem;
}
.clients .comments .card p {
  font-size: 1.4rem;
  text-align: center;
  transform: translate(0, -3rem);
}
.clients .big-message {
  margin-block: 5rem;
  padding-block: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  background-image: linear-gradient(90deg, rgb(58, 139, 190), rgb(0, 2, 53), rgb(58, 139, 190));
  opacity: 0;
}
.clients .big-message h4 {
  font-size: 1rem;
  color: rgb(110, 108, 108);
  text-align: center;
}
.clients .big-message h1 {
  font-size: 2rem;
  text-align: center;
  margin-block: 1rem;
}
.clients .big-message button {
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-inline: 0.8rem;
  border-radius: 1.5rem;
  margin-right: 1.4rem;
  cursor: pointer;
  margin-top: 1.2rem;
  background-color: rgba(0, 0, 0, 0.702);
  font-weight: 300;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  padding-block: 0.7rem;
}

.footer {
  color: white;
  display: flex;
  justify-content: space-around;
}
.footer .title {
  font-size: 2rem;
}
.footer .cols {
  display: flex;
  gap: 2.5rem;
}
.footer .cols a {
  text-decoration: none;
  cursor: pointer;
}
.footer .cols .coln h2 {
  font-size: 2rem;
}
.footer .cols .coln ul {
  list-style: none;
}
.footer .cols .coln ul li {
  font-size: 1rem;
  margin-block: 0.5rem;
}
.footer .col4 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.footer .col4 .email-box {
  margin-block: 1rem;
  background: rgba(109, 99, 255, 0.5);
  padding: 1rem;
  border-radius: 2rem;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
}
.footer .col4 .email-box input {
  border: none;
  background: transparent;
  font-size: 1.2rem;
  outline: none;
  color: white;
  width: 95%;
  transition: 0.5s all;
}
.footer .col4 .email-box input:focus {
  border-bottom: 1px solid rgb(109, 99, 255);
}
.footer .col4 .email-box button {
  width: 40%;
  position: absolute;
  right: 0;
  margin-right: 0.5rem;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2rem;
  border: none;
  background-image: linear-gradient(70deg, rgb(109, 99, 255), rgb(58, 139, 190));
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
}

@media screen and (max-width: 1530px) {
  body {
    margin-inline: 10%;
  }
}
@media screen and (max-width: 1350px) {
  body {
    margin-inline: 5%;
  }
}
@media screen and (max-width: 1190px) {
  html,
body {
    font-size: 90%;
  }
}
@media screen and (max-width: 1070px) {
  html,
body {
    font-size: 75%;
  }
}
@media screen and (max-width: 900px) {
  html,
body {
    font-size: 60%;
  }
}
@media screen and (max-width: 715px) {
  html,
body {
    font-size: 50%;
  }
}
@media screen and (max-width: 600px) {
  html,
body {
    font-size: 40%;
  }
}
@media screen and (max-width: 385px) {
  html,
body {
    font-size: 15%;
  }
}
@media screen and (max-width: 480px) {
  .main nav ul li {
    font-size: 4rem;
    margin: 1rem;
  }
  .main nav ul {
    position: fixed;
    right: -100%;
    top: 0;
    background-color: rgba(98, 101, 194, 0.3);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    width: 50vw;
    height: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .main nav #menu {
    display: block;
  }
  .main nav #menu:focus ~ .main nav ul {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */