html,
body {
  font-size: 100%;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@keyframes showup {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

// @keyframes motion {
//   0%,
//   100% {
//     background-image: linear-gradient(70deg, $light, $blur);
//   }
//   50% {
//     background-image: linear-gradient(70deg, $blur, $light);
//   }
// }
$light: rgb(109, 99, 255);
$blur: rgb(58, 139, 190);
$dark: rgb(0, 2, 53);
$text-sec: rgba(255, 255, 255, 0.746);
$wh: white;

::-webkit-scrollbar {
  background-color: rgb(237, 220, 220);
  width: 13px;
}
::-webkit-scrollbar-thumb {
  // background: $blur;
  background-image: linear-gradient( $dark, $blur);
  border: 2px solid rgb(237, 220, 220);
  border-radius: 20px;
}
body {
  background-color: $dark;
  a {
    text-decoration: none;
    color: $wh;
  }
  margin-inline: 15%;
  margin-top: 3rem;
}

.main {
  //navigation section
  nav {
    display: flex;
    justify-content: space-between;
    .logo {
      color: $wh;
      font-size: 3rem;
      position: relative;

      &::before {
        content: "";
        box-shadow: 0 0 12rem 10rem $blur;
        position: absolute;
        z-index: -1;
        right: 45%;
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      font-size: 1.4rem;
      list-style: none;
    }
    ul li {
      margin: 1.2rem;
      padding-inline: 0.5rem;
      font-size: 1.4rem;
      transition: 1s transform;
      a {
        transition: 0.5s;
      }
      &:hover a {
        color: $light;
      }
    }
    ul li .active {
      color: $light;
    }
  }
  .light {
    box-shadow: 0 0 19rem 15rem $blur;
    right: 0;
    position: absolute;
    top: 45vh;
  }
  //Hero section
  .hero {
    margin-block: 2rem;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: space-between;
    color: $wh;

    .content {
      h2 {
        font-size: 3.2rem;
        color: $wh;
        line-height: 3.5rem;
        span {
          color: rgb(109, 99, 255);
        }
        animation: 1s showup forwards;
      }
      p {
        margin-block: 1.5rem;
        font-size: 1.8rem;
        line-height: 2.2rem;
        color: $text-sec;
        animation: 1s 0.5s showup forwards;
        opacity: 0;
      }
    }
    .hero-img {
      height: 80%;
      position: relative;
      animation: 1s 1.5s showup forwards;
      opacity: 0;

      img {
        height: 100%;
        width: 100%;
      }
    }
    .buttons {
      button {
        font-size: 1.5rem;
        padding: 0.5rem;
        padding-inline: 0.8rem;
        border-radius: 1.5rem;
        margin-right: 1.4rem;
        cursor: pointer;
        margin-top: 1.2rem;
      }
      a {
        color: $wh;
      }
      button:first-child {
        //  background-color: $light;
        font-weight: 500;
        border: 1px solid $light;
        animation: 1s 2s showup forwards;
        opacity: 0;
        position: relative;
        background: transparent;
        overflow: hidden;
        &::before {
          position: absolute;
          background: $light;
          content: "";
          width: 100%;
          height: 100%;
          border-radius: 1.5rem;
          left: 0%;
          top: 0;
          transition: 0.8s all;
          z-index: -1;
        }
        &:hover::before {
          left: -100%;
        }
      }
      button:last-child {
        background: transparent;
        border: 1px solid $light;
        position: relative;
        animation: 1s 2.5s showup forwards;
        opacity: 0;
        overflow: hidden;
        &::before {
          position: absolute;
          background: $light;
          content: "";
          width: 100%;
          height: 100%;
          border-radius: 1.5rem;
          left: -100%;
          top: 0;
          transition: 0.8s all;
          z-index: -1;
        }
        &:hover::before {
          left: 0;
        }
      }
    }
  }
}
.served {
  h2 {
    color: $wh;
    font-size: 2rem;
    text-transform: uppercase;
    animation: 1s 3s showup forwards;
    opacity: 0;
  }
  ul {
    animation: 1s 3.5s showup forwards;
    opacity: 0;
    background-color: $light;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-inline: 12rem;
    list-style-type: none;
    li {
      margin-block: 0.5rem;
      img {
        height: 3.7rem;
        width: 3.7rem;
        cursor: pointer;
        transition: 0.2s all;
        &:hover {
          scale: 1.1;
        }
      }
    }
  }
}

//about us section starts
.about {
  margin-block: 4rem;
  color: $wh;
  h2 {
    text-align: center;
    font-size: 3rem;
  }
  .container1,
  .container2 {
    display: grid;
    grid-template-columns: 50% 50%;
    // min-height: 5rem;
    margin-top: 5rem;

    .theme-img {
      img {
        height: 100%;
        width: 100%;
      }
    }
    .theme-content {
      transform: translate(0, -2rem);
      padding-top: 1rem;
      margin-block-start: auto;
      h2 {
        font-size: 2.5rem;
        line-height: 3rem;
      }
      p {
        font-size: 2rem;
        margin-block: 1.5rem;
        color: $text-sec;
      }
      button {
        font-size: 1.2rem;
        padding: 0.5rem;
        padding-inline: 1.2rem;
        border-radius: 1.5rem;
        margin-right: 1.4rem;
        cursor: pointer;
        margin-top: 1.2rem;
        background-color: transparent;

        border: 1px solid $light;
        color: $wh;
        font-weight: bold;
        padding-block: 0.7rem;
        position: relative;
        overflow: hidden;
        &::before {
          position: absolute;
          background: $light;
          content: "";
          width: 100%;
          height: 100%;
          border-radius: 1.5rem;
          left: -100%;
          top: 0;
          transition: 1s all;
          z-index: -1;
        }
        &:hover::before {
          left: 0;
        }
      }
    }
  }
}

//client section
.clients {
  margin-block: 2rem;
  cursor: pointer;
  color: $wh;
  .title {
    font-size: 3rem;
    // text-align: justify;
    text-align: center;
  }
  .comments {
    padding-inline: 3.5rem;
    margin-top: 8rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    .card {
      width: 25%;
      padding-inline: 0.2rem;
      height: 25rem;
      background-image: linear-gradient($light, transparent);
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      border-bottom-left-radius: 2rem;
      border-bottom-right-radius: 2rem;

      img {
        height: 10rem;
        width: 10rem;
        margin-inline: 3rem;
        translate: 0 -40%;
        border-radius: 50%;
        border: 2px solid beige;
        box-shadow: 0 0 1rem 0.08rem wheat;
      }
      .name {
        text-align: center;
        translate: 0 -3.5rem;
        font-size: 1.6rem;
      }
      p {
        font-size: 1.4rem;
        text-align: center;
        transform: translate(0, -3rem);
      }
    }
  }
  .big-message {
    margin-block: 5rem;
    padding-block: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    background-image: linear-gradient(90deg, $blur, $dark, $blur);
    // background-blend-mode: lighten;
    // box-shadow: 0 -10rem 7rem 4rem $blur;
    h4 {
      font-size: 1rem;
      color: rgb(110, 108, 108);
      text-align: center;
    }
    h1 {
      font-size: 2rem;
      text-align: center;
      margin-block: 1rem;
    }
    button {
      font-size: 1.5rem;
      padding: 0.5rem;
      padding-inline: 0.8rem;
      border-radius: 1.5rem;
      margin-right: 1.4rem;
      cursor: pointer;
      margin-top: 1.2rem;
      background-color: rgba(0, 0, 0, 0.702);
      font-weight: 300;
      border: 1px solid black;
      color: $wh;
      font-weight: bold;
      padding-block: 0.7rem;
    }
  }
}
.footer {
  color: $wh;
  display: flex;
  justify-content: space-around;
  .title {
    font-size: 2rem;
  }
  .cols {
    display: flex;
    gap: 2.5rem;
    a {
      text-decoration: none;
      cursor: pointer;
    }
    .coln {
      h2 {
        font-size: 2rem;
      }
      ul {
        list-style: none;
        li {
          font-size: 1rem;
          margin-block: 0.5rem;
        }
      }
    }
  }
  .col4 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    .email-box {
      margin-block: 1rem;
      background: rgba(109, 99, 255, 0.5);
      padding: 1rem;
      border-radius: 2rem;
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: 60% 40%;
      input {
        border: none;
        background: transparent;
        font-size: 1.2rem;
        outline: none;
        color: $wh;
        width: 95%;
        transition: 0.5s all;

        &:focus {
          border-bottom: 1px solid $light;
        }
      }
      button {
        width: 40%;
        position: absolute;
        right: 0;
        margin-right: 0.5rem;
        height: 70%;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 2rem;
        border: none;
        background-image: linear-gradient(70deg, $light, $blur);
        cursor: pointer;
        color: $wh;
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and(max-width:1530px) {
  body {
    // display: none;
    //     font-size: 85%;
    margin-inline: 10%;
  }
}
@media screen and (max-width: 1350px) {
  body {
    //     font-size: 75%;
    margin-inline: 5%;
  }
}
@media screen and (max-width: 1190px) {
  html,
  body {
    font-size: 90%;
  }
}
@media screen and (max-width: 1070px) {
  html,
  body {
    font-size: 75%;
  }
}
@media screen and (max-width: 900px) {
  html,
  body {
    font-size: 60%;
  }
}
@media screen and (max-width: 715px) {
  html,
  body {
    font-size: 50%;
  }
}
@media screen and (max-width: 600px) {
  html,
  body {
    font-size: 40%;
  }
}
@media screen and (max-width: 385px) {
  html,
  body {
    font-size: 15%;
  }
}
@media screen and (max-width: 235px) {
  .main {
    display: none;
  }
  body {
    position: relative;

    &::before {
      color: rgb(255, 255, 255);
      font-size: 7rem;
      text-align: center;
      position: absolute;

      content: "Website not supported";
    }
  }
}
